name: CI

on:
  push:
    branches:
      - main
      - release
  pull_request:
    branches:
      - main
      - master
      - release
      - develop
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    env:
      FULL_NAME: "Чеботарёва Яна Александровна"
      GROUP_NUMBER: "М3114"
      GITHUB_USERNAME: ${{ github.actor }}
      
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: List repository contents for debugging
      run: ls -R
        
    - name: Output user information
      run: |
        echo "Full Name: $FULL_NAME"
        echo "$GROUP_NUMBER"
        echo "GitHub Username: ${{ github.actor }}"

    - name: Set up Python 3.13
      uses: actions/setup-python@v2
      with:
        python-version: '3.13'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        pytest

    - name: Check code style with flake8
      run: |
        pip install flake8
        flake8 .
